name: Vigilante Universal

on:
  push:   # No especificamos ramas → se activa en TODAS

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar código
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Dar permisos al wrapper de Maven
        run: chmod +x mvnw

      - name: Comprobar compilación
        run: ./mvnw -q -DskipTests package
