name: Vigilante Universal

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      # 1. Descargar el código
      - name: Descargar código
        uses: actions/checkout@v4

      # 2. Configurar Java 21 + caché de Maven (Supuesto 5)
      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          check-latest: true
          cache: 'maven'

      # 3. Dar permisos al wrapper (solo necesario en Linux/macOS)
      - name: Dar permisos al wrapper de Maven
        if: runner.os != 'Windows'
        run: chmod +x mvnw

