name: CI/CD Encadenado

on:
  push:
    branches:
      - main

jobs:

  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Dar permisos al wrapper
        run: chmod +x mvnw

      - name: Ejecutar tests
        run: ./mvnw test


  cd:
    needs: ci
    runs-on: ubuntu-latest
    if: success()   # CD solo se ejecuta si CI ha pasado correctamente
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Dar permisos al wrapper
        run: chmod +x mvnw
